/* warning page css */
.maindiv {
  /*
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  */
  margin: 0; /* Remove default body margin */
}

.warning {
  background-color: red;
  color: white;
  font: 400 1rem/1.625rem "Open Sans", sans-serif;
  padding: 20px; /* Add padding for spacing inside the box */
  text-align: center;
  display: flex;
  align-items: center; /* Align image and text vertically */
  border-radius: 8px; /* Optional: add rounded corners */
}

.warning img {
  margin-right: 10px; /* Space between image and text */
}

.warning p {
  margin: 0; /* Remove default margin */
}

.aclassforsomereason {
  color: white;
}

.link {
  color: #dfdb00;
}
